.indent-guide-improved {
  background-color: gray;
  &.indent-guide-stack {
    background-color: cyan;
    &.indent-guide-active {
      background-color: blue;
    }
  }
}
.container {
  width: 500px ;
  margin-left: auto ;
  margin-right: auto ;
}
